@model Scraper_Application.Models.RestSharpTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RestSharpTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeScraped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeScraped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Change)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Change)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangePercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangePercent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
